{% set page_title = 'Sun Shine' %}
{% extends "../elements/_base.twig" %}
{% block content %}
{# nhớ thêm active để show #}
<div class="message d-none">
    <div class="message__content text-center">
        <div class="message__title">Bạn đã đăng ký tư vấn thành công.</div>
        <button class="btn-submit" type="button">Đóng</button>
    </div>
</div>
{# nhớ thêm active để show #}
<div class="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="menu">
    <a href="#" class="menu__logo">
        <img src="../../assets/images/logo.png" alt="verosa park">
    </a>
    <ul class="menu__nav">
        <li class="menu__nav-item">
            <a class="menu__nav-link active" link="trangchu" href="#trangchu">Trang chủ</a>
        </li>
        <li class="menu__nav-item">
            <a class="menu__nav-link" link="tongquan" href="#tongquan">tổng quan</a>
        </li>
        <li class="menu__nav-item">
            <a class="menu__nav-link" link="vitri" href="#vitri">vị trí</a>
        </li>
        <li class="menu__nav-item">
            <a class="menu__nav-link" link="phaply" href="#phaply">pháp lý</a>
        </li>
        <li class="menu__nav-item">
            <a class="menu__nav-link" link="tienich" href="#tienich">Tiện ích</a>
        </li>
        <li class="menu__nav-item">
            <a class="menu__nav-link" link="csbh" href="#csbh">chính sách bán hàng</a>
        </li>
        <li class="menu__nav-item">
            <a class="menu__nav-link" link="lienhe" href="#lienhe">liên hệ</a>
        </li>
    </ul>
</div>
</div>
{# trangchu #}
<section class="s block1 trangchu" id="trangchu">
    <figure class="block1__bg">
        <img src="../../assets/images/block1_bg.jpg" alt="block1_bg">
    </figure>
    <figure class="block1__text">
        <img src="../../assets/images/block1_text.png" alt="block1_text">
    </figure>
    <div class="form">
        <figure class="form__title">
            <img src="../../assets/images/form_title.png" alt="form_title">
        </figure>
        <div class="form__content">
            <div class="form-group">
                <input type="text" placeholder="Họ và tên" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Số điện thoại" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Lời nhắn" class="form-control">
            </div>
        </div>
        <div class="form__des">
            <p>Dự án đã hoàn thiện, đang bàn giao</p>
            <p>Pháp lý minh bạch, sổ đổ từng lô</p>
            <p>Nhiều CSBH hấp dẫn</p>
        </div>
        <div class="text-center">
            <button disabled="disabled" class="form__submit button">
                <img src="../../assets/images/button.png" alt="form__submit">
            </button>
        </div>
    </div>
</section>
{# tongquan #}
<section class="block block2 tongquan" id="tongquan">
    <figure class="block2__play">
        <img src="../../assets/images/video_play.png" alt="video_play">
    </figure>
    <div class="block2__content">
        <figure class="block2__title">
            <img src="../../assets/images/block2_title.png" alt="block2_title">
        </figure>
        <div class="block2__des">
            Như câu nói “Nhà là nơi trái tim ta cư ngụ…” mà nhiều người gói ghém khát khao về ngôi nhà hạnh phúc, Khang
            Điền
            đã mang khát vọng về một không gian sống biệt lập mang âm hưởng Châu Âu hoài cổ chuyển tải trọn vẹn qua
            Verosa
            Park - Quần thể Nhà liên kế và biệt thự 5 sao, một không gian sống thượng lưu dành cho những khách hàng trân
            trọng giá trị tinh hoa.
        </div>
        <div class="block2__items">
            <div class="item">
                <figure class="img">
                    <img src="../../assets/images/block2_icon1.png" alt="block2_icon1">
                </figure>
                <div class="title">Vị trí</div>
                <div class="text">
                    Gần vòng xoay Liên Phường, Võ Chí Công, Quận 9 (kế cận Quận 2), TP.HCM
                </div>
            </div>
            <div class="item">
                <figure class="img">
                    <img src="../../assets/images/block2_icon2.png" alt="block2_icon1">
                </figure>
                <div class="title">Diện tích</div>
                <div class="text">
                    <span class="highlight">8,1</span>
                    Ha
                </div>
            </div>
            <div class="item">
                <figure class="img">
                    <img src="../../assets/images/block2_icon3.png" alt="block2_icon1">
                </figure>
                <div class="title">Sản phẩm</div>
                <div class="text">
                    <span class="highlight">296</span>
                    căn Nhà liên kế & Biệt thự
                    <br>
                    <span class="highlight">
                        16.000 m2
                    </span>
                    Diện tích mảng xanh
                </div>
            </div>
        </div>
        <figure class="block2__button button">
            <img src="../../assets/images/button1.png" alt="button1">
        </figure>
    </div>
</section>
{# block3 #}
<section class="block block3">
    <ul class="block3__list">
        <li data-index="0" class="block6__list-ulti">Công viên Symphony Park</li>
        <li data-index="1" class="block6__list-ulti">Hồ cảnh quan Oceania</li>
        <li data-index="2" class="block6__list-ulti">Club house</li>
        <li data-index="3" class="block6__list-ulti">Hồ bơi tràn</li>
        <li data-index="4" class="block6__list-ulti">Sân chơi trẻ em đạt chuẩn</li>
        <li data-index="5" class="block6__list-ulti">Phòng gym hiện đại</li>
        <li data-index="6" class="block6__list-ulti">Sân thể thao đa năng</li>
    </ul>
    <div class="block3__slider">
        <figure class="img">
            <img src="../../assets/images/block6_img.jpg" alt="block6_img">
        </figure>
        <figure class="img">
            <img src="../../assets/images/block6_img.jpg" alt="block6_img">
        </figure>
        <figure class="img">
            <img src="../../assets/images/block6_img.jpg" alt="block6_img">
        </figure>
        <figure class="img">
            <img src="../../assets/images/block6_img.jpg" alt="block6_img">
        </figure>
        <figure class="img">
            <img src="../../assets/images/block6_img.jpg" alt="block6_img">
        </figure>
        <figure class="img">
            <img src="../../assets/images/block6_img.jpg" alt="block6_img">
        </figure>
    </div>
</section>
{# vitri #}
<section class="block block4 vitri" id="vitri">
    <figure class="block4__map">
        <img src="../../assets/images/block4_map.jpg" alt="block4_map">
    </figure>
    <div class="block4__content">
        <figure class="block4__title">
            <img src="../../assets/images/block4_title.png" alt="block4_title">
        </figure>
        <div class="block4__des">
            <p>
                Gần vòng xoay Liên Phường – Võ Chí Công, phường Phú Hữu, Quận 9 (kế cận Quận 2), trong quần thể các khu
                dân cư hiện hữu do Khang Điền phát triển trước đó: khu biệt thự Lucasta, khu nhà liên kế Mega, Merita,
                đồng thời cũng rất gần với Khu biệt thự 5 Sao(+) The Venica.
            </p>
            <p>
                Chỉ 5 phút di chuyển đến khu công nghệ cao Quận 9, Đại học Fulbright; 10 - 15 phút về khu đô thị mới Thủ
                Thiêm và trung tâm Quận 1 thông qua cao tốc TP.HCM - Long Thành – Dầu Giây, 15 - 20 phút để đến khu đô
                thị Phú Mỹ Hưng thông qua cầu Phú Mỹ. Đồng thời, trong tương lai, chỉ mất 30 di chuyển đến sân bay quốc
                tế Long Thành.
            </p>
        </div>
    </div>
</section>
{# block5 #}
<section class="block block5">
    <div class="block5__heading">
        <figure class="block5__title">
            <img src="../../assets/images/block5_title.png" alt="block4_map">
        </figure>
        <div class="block5__des">
            Verosa Park dần hoàn thiện, đẹp hơn, xanh hơn mỗi ngày. Từ tháng 5.2020, Verosa Park bắt đầu bàn giao và
            chuẩn
            bị chào đón những cư dân đầu tiên dọn về
        </div>
    </div>
    <div class="block5__slider">
        <figure class="img">
            <img src="../../assets/images/block5_slider.jpg" alt="block5_slider">
        </figure>
        <figure class="img">
            <img src="../../assets/images/block5_slider.jpg" alt="block5_slider">
        </figure>
        <figure class="img">
            <img src="../../assets/images/block5_slider.jpg" alt="block5_slider">
        </figure>
    </div>
</section>
{# phaply #}
<section class="block block6 tienich" id="tienich">
    <figure class="block6__bg">
        <img src="../../assets/images/block6_bg.jpg" alt="block1_bg">
    </figure>
    <div class="block6__wrapper">
        <div class="block6__content">
            <div class="block6__left">
                <figure class="block6__title">
                    <img src="../../assets/images/block6_title.png" alt="block6_title">
                </figure>
                <div class="block6__des">
                    Verosa Park sở hữu 2 công viên và khu TDTT rộng khoảng 10.000m2 với điểm nhấn là hồ cảnh quan Oceania
                mát lành. Sau một ngày làm việc, cư dân Verosa Park sẽ tìm thấy những phút giây bình yên, tự tại, tận
                hưởng không khí ấm áp, quây quần cùng gia đình ở khu BBQ, club house hay tiếp thêm nguồn năng lượng tích
                cực cho bản thân tại khu yoga ngoài trời, hồ bơi, đồi thiền…
                </div>
                <ul class="block6__list">
                    <li data-index="0" class="block6__list-ulti">Công viên Symphony Park</li>
                    <li data-index="1" class="block6__list-ulti">Hồ cảnh quan Oceania</li>
                    <li data-index="2" class="block6__list-ulti">Club house</li>
                    <li data-index="3" class="block6__list-ulti">Hồ bơi tràn</li>
                    <li data-index="4" class="block6__list-ulti">Sân chơi trẻ em đạt chuẩn</li>
                    <li data-index="5" class="block6__list-ulti">Phòng gym hiện đại</li>
                    <li data-index="6" class="block6__list-ulti">Sân thể thao đa năng</li>
                </ul>
            </div>
            <div class="block6__right">
                <div class="block6__slider">
                    <figure class="img">
                        <img src="../../assets/images/block6_img.jpg" alt="block6_img">
                    </figure>
                    <figure class="img">
                        <img src="../../assets/images/block6_img.jpg" alt="block6_img">
                    </figure>
                    <figure class="img">
                        <img src="../../assets/images/block6_img.jpg" alt="block6_img">
                    </figure>
                    <figure class="img">
                        <img src="../../assets/images/block6_img.jpg" alt="block6_img">
                    </figure>
                    <figure class="img">
                        <img src="../../assets/images/block6_img.jpg" alt="block6_img">
                    </figure>
                    <figure class="img">
                        <img src="../../assets/images/block6_img.jpg" alt="block6_img">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
{# tienich #}
<section class="block block7" id="csbh">
    <figure class="block7__bg">
        <img src="../../assets/images/block7_bg.png" alt="block7_bg">
    </figure>
    <div class="block7__wrapper">
        <div class="block7__left">
            <figure class="block7__left-text block7__left-text-1">
                <img src="../../assets/images/block7_text1.png" alt="block7_text1">
            </figure>
            <figure class="block7__left-text block7__left-text-2">
                <img src="../../assets/images/block7_text2.png" alt="block7_text2">
            </figure>
        </div>
        <div class="block7__right">
            <div class="block7__title">
                <figure class="block7__title-top">
                    <img src="../../assets/images/block7_title.png" alt="block7_title">
                </figure>
                <figure class="block7__title-sub">
                    <img src="../../assets/images/block7_subtitle.png" alt="block7_subtitle">
                </figure>
                <div class="block7__des">
                    Số lượng cực kỳ giới hạn, Verosa Park đang chào đón những chủ nhân xứng tầm với những chương trình ưu đãi hấp dẫn được cập nhật mới nhất từ chủ đầu tư Khang Điền.
                    <br>
                    * Chi tiết theo CSBH của CĐT
                </div>
            </div>
            <figure class="block7__img">
                <img src="../../assets/images/block7_img.jpg" alt="block7_img">
            </figure>
        </div>
    </div>
</section>
{# csbh #}
<section class="block block8 csbh phaply" id="phaply">
    <figure class="block8__title">
        <img src="../../assets/images/block8_title.png" alt="block8_title">
    </figure>
    <div class="block8__wrapper">
        <div class="block8__item">
            <figure class="img">
                <img src="../../assets/images/icon_phaply.png" alt="icon_phaply">
            </figure>
            <div class="text">
                Giấy chứng nhận quyền sử dụng đất, quyền sở hữu nhà ở và tài sản khác gắn liền với đất số CT75660 ngày 06.08.2018.
            </div>
        </div>
        <div class="block8__item">
            <figure class="img">
                <img src="../../assets/images/icon_phaply.png" alt="icon_phaply">
            </figure>
            <div class="text">
                Văn bản số 11687/SXD-PTN&TTBĐS ngày 18.09.2019 của Sở xây dựng Tp Hồ Chí Minh về việc đủ điều kiện được bán nhà ở hình thành trong tương lai Công ty Kim Phát.
            </div>
        </div>
        <div class="block8__item">
            <figure class="img">
                <img src="../../assets/images/icon_phaply.png" alt="icon_phaply">
            </figure>
            <div class="text">
                Văn bản số 11688/SXD-PTN&TTBĐS ngày 18.09.2019 của Sở xây dựng Tp Hồ Chí Minh về việc đủ điều kiện được bán nhà ở hình thành trong tương lai Công ty Thành Phúc.
            </div>
        </div>
        <div class="block8__item">
            <figure class="img">
                <img src="../../assets/images/icon_phaply.png" alt="icon_phaply">
            </figure>
            <div class="text">
                Giấy chứng nhận đăng ký doanh nghiệp số 0313018164.
            </div>
        </div>
        <div class="block8__item">
            <figure class="img">
                <img src="../../assets/images/icon_phaply.png" alt="icon_phaply">
            </figure>
            <div class="text">
                Giấy chứng nhận quyền sử dụng đất, quyền sở hữu nhà ở và tài sản khác gắn liền với đất số CT59957 ngày 20.01.2017.
            </div>
        </div>
        <div class="block8__item">
            <figure class="img">
                <img src="../../assets/images/icon_phaply.png" alt="icon_phaply">
            </figure>
            <div class="text">
                Giấy chứng nhận đăng ký doanh nghiệp số 0312519827.
            </div>
        </div>
    </div>
</section>
{# news #}
<section class="block block9">
    <figure class="block9__title">
        <img src="../../assets/images/block9_title.png" alt="block9_title">
    </figure>
    <div class="block9__slider">
        <div class="block9__item">
            <figure class="img">
                <img src="../../assets/images/block9_img1.png" alt="block9_img1">
            </figure>
            <div class="text">VEROSA PARK KHANG ĐIỀN: “SỞ HỮU NHÀ SANG – GIÁNG SINH RINH QUÀ”</div>
        </div>
        <div class="block9__item">
            <figure class="img">
                <img src="../../assets/images/block9_img2.png" alt="block9_img2">
            </figure>
            <div class="text">VEROSA PARK KHANG ĐIỀN: “SỞ HỮU NHÀ SANG – GIÁNG SINH RINH QUÀ”</div>
        </div>
        <div class="block9__item">
            <figure class="img">
                <img src="../../assets/images/block9_img3.png" alt="block9_img3">
            </figure>
            <div class="text">VEROSA PARK - KHANG ĐIỀN ĐƯỢC VINH DANH TẠI ASIA PROPERTY AWARDS 2019, HẠNG ...</div>
        </div>
        <div class="block9__item">
            <figure class="img">
                <img src="../../assets/images/block9_img4.jpg" alt="block9_img4">
            </figure>
            <div class="text">THÀNH LẬP THÀNH PHỐ THỦ ĐỨC</div>
        </div>
        <div class="block9__item">
            <figure class="img">
                <img src="../../assets/images/block9_img1.png" alt="block9_img1">
            </figure>
            <div class="text">VEROSA PARK KHANG ĐIỀN: “SỞ HỮU NHÀ SANG – GIÁNG SINH RINH QUÀ”</div>
        </div>
        <div class="block9__item">
            <figure class="img">
                <img src="../../assets/images/block9_img2.png" alt="block9_img2">
            </figure>
            <div class="text">VEROSA PARK KHANG ĐIỀN: “SỞ HỮU NHÀ SANG – GIÁNG SINH RINH QUÀ”</div>
        </div>
    </div>
</section>
{# lienhe #}
<section class="block block10 lienhe" id="lienhe">
    <div class="form">
        <figure class="form__title">
            <img src="../../assets/images/form_title_foot.png" alt="form_title">
        </figure>
        <div class="form__content">
            <div class="form-group">
                <input type="text" placeholder="Họ và tên" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Số điện thoại" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Lời nhắn" class="form-control">
            </div>
        </div>
        <div class="form__des">
            <p>Dự án đã hoàn thiện, đang bàn giao</p>
            <p>Pháp lý minh bạch, sổ đổ từng lô</p>
            <p>Nhiều CSBH hấp dẫn</p>
        </div>
        <div class="text-center">
            <button disabled="disabled" class="form__submit button">
                <img src="../../assets/images/button.png" alt="form__submit">
            </button>
        </div>
    </div>
    <div class="block10__info">
        <div class="block10__logo">
            <figure class="logo_khangdien">
                <img src="../../assets/images/logo_khangdien.png" alt="logo_khangdien">
            </figure>
            <figure class="logo_white">
                <img src="../../assets/images/logo_white.png" alt="logo_white">
            </figure>
        </div>
        <figure class="line">
            <img src="../../assets/images/block9_line.png" alt="block9_line">
        </figure>
        <ul class="block10__media">
            <li class="media">
                <img class="img" src="../../assets/images/block10_icon_map.png" alt="block10_icon_map">
                <span class="value">Gần vòng xoay Liên Phường, Võ Chí Công, Q.9, TP.HCM</span>
            </li>
            <li class="media">
                <img class="img" src="../../assets/images/block10_icon_phone.png" alt="block10_icon_phone">
                <span class="value">0823 968 368</span>
            </li>
            <li class="media">
                <img class="img" src="../../assets/images/block10_icon_mail.png" alt="block10_icon_mail">
                <span class="value">info@verosapark.com</span>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
