$color1: #e3a371;

.hambuger {

    .bar {
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.3s;
        display: block;
    }

    &.show {
        position: relative;
        z-index: 1000;

        .bar {
            background-color: #fff;
        }

        .bar1 {
            transform: rotate(-45deg) translate(-3px, 2px)
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }
}

@media(min-width:991px) {
    .hambuger {
        display: none
    }
}

.menu {
    @include flexbox;
    @include justify-content(center);
    padding: 0.781vw 10.417vw;
    background-image: url(../assets/images/header_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.396vw;
    z-index: 2;

    @media(max-width:767px) {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
    }


    &__logo {
        width: 9.375vw;

        @media(max-width:767px) {
            width: 140px;
        }

        img {
            width: 100%;
        }
    }

    &__nav {
        @include flexbox;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 2.083vw;
        transition-delay: 0.5s;
        transition: all 0.5s ease;

        &.show {
            visibility: visible;
            z-index: 999;
            width: 100vw;
            opacity: 1;
            background: rgb(9, 84, 109);
        }

        @media(max-width:767px) {
            @include flex-direction(column);
            margin: 0;
            padding: 20px;
            padding-top: 35px;

            height: 100%;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            // transition: all 0.3s;
            height: 100%;
            transition-delay: 0.5s;
            transition: all 0.5s ease;
        }
    }

    &__nav-item {
        margin: 0 0.365vw;

        @media(max-width:767px) {
            text-align: center;
        }
    }

    &__nav-link {
        @include transition(all 0.3s ease);
        font-family: $TrajanProBold;
        color: $color1;
        text-transform: uppercase;
        padding: 0.313vw 0.677vw;
        padding-bottom: 0.313vw;
        border-radius: 1.094vw;
        font-size: 1.042vw;
        display: inline-block;
        line-height: normal;

        @media(max-width:767px) {
            font-size: 14px;
            margin: 7px 0;
            padding: 5px 10px;
            padding-bottom: 4px;
            border-radius: 14px;
        }

        &:hover,
        &.active {
            background-color: $color1;
            color: #fff;
            text-decoration: none;
        }
    }
}

.button {
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.slick-arrow {
    z-index: 1;

    img {
        width: 100%;
    }

    &::before {
        display: none;
    }
}

.block {
    position: relative;
}

.form {
    // max-width: 555px;
    width: 28.906vw;
    margin: 0 auto;
    position: absolute;

    &__title {
        margin-bottom: 1.563vw;

        @media(max-width:767px) {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__content {
        margin-bottom: 0.521vw;
    }

    &__des {
        padding-left: 3.385vw;
        color: #fff;
        margin-bottom: 1.042vw;

        p {
            font-size: 1.198vw;
            margin: 0;
            position: relative;
            padding-left: 0.938vw;
            display: block;
            margin-bottom: 0.156vw;

            &::before {
                position: absolute;
                content: "";
                width: 0.521vw;
                height: 0.521vw;
                border-radius: 50%;
                background-color: #fff;
                left: 0;
                top: 0.573vw;
            }
        }
    }

    &__submit {
        background-color: transparent;
        box-shadow: none;
        border: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        &:disabled,
        &[disabled=disabled] {
            cursor: no-drop
        }


    }

    .form-group {
        margin-bottom: 13px;
    }

    .form-control {
        height: 3.646vw;
        border-radius: 1.823vw;
        background-color: #fff;
        padding: 0.521vw 1.042vw;
        font-size: 1.146vw;

        @mixin placeholder {
            color: #769ba7;
        }

        &::-webkit-input-placeholder {
            @include placeholder;
        }

        &::-moz-placeholder {
            @include placeholder;
        }

        &:-ms-input-placeholder {
            @include placeholder;
        }

        &:-moz-placeholder {
            @include placeholder;
        }
    }
}

.mb {
    display: none;

    @media(max-width:767px) {
        display: block;
    }
}

.pc {
    @media(max-width:767px) {
        display: none;
    }
}

.block1 {
    // height: 1080px;
    position: relative;

    &__bg {}

    &__text {
        position: absolute;
        bottom: -6.510vw;
        left: 0;
        width: 47.292vw;

        @media(max-width:767px) {
            bottom: auto;
            width: 64vw;
            top: 16vw;
        }
    }

    .form {
        // top: 265px;
        top: 10.417vw;
        right: 7.7vw;

        @media(max-width:767px) {
            position: relative;
            top: 0;
            right: 0;

            background: linear-gradient(180deg, #08465ba3 0%, #0a4660 100%);
            width: 100%;
            padding: 50px;
        }
    }
}

.block2 {
    background-image: url("../assets/images/block2_bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 1080px;

    @media(max-width:767px) {
        background-image: none;
    }

    &__content {
        // position: absolute;
        padding-top: 230px;
        padding-left: 65px;

        @media(max-width:767px) {
            padding: 0;
            padding: 40px;
            padding-bottom: 20px;
        }
    }

    &__title {
        position: absolute;
        width: 28.646vw;
        left: 32vw;
        top: 130px;

        @media(max-width:767px) {
            position: static;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            top: 0;

            &.mb {
                width: 100%;
            }
        }

        img {
            width: 100%;
        }
    }

    &__des {
        color: #fff;
        width: 45.833vw;
        font-size: 1.042vw;
        line-height: 1.198vw;
        margin-bottom: 2.604vw;

        @media(max-width:767px) {
            color: #09546d;
            width: 100%;
            font-size: 18px;
            line-height: normal;
        }
    }

    &__items {
        @include flexbox;
        color: #fff;

        @media(max-width:767px) {
            color: #09546d;
            font-size: 16px;
        }

        .item {
            text-align: center;
            width: 100%;

            &:nth-child(1) {
                max-width: 220px;

                .img {
                    max-width: 125px;
                }
            }

            &:nth-child(2) {
                max-width: 200px;

                .img {
                    max-width: 115px;
                    margin-bottom: 25px;
                }
            }

            &:nth-child(3) {
                max-width: 290px;

                .img {
                    max-width: 130px;
                }
            }

            .img {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;

                img {
                    width: 100%;
                }
            }

            .title {
                text-transform: uppercase;
            }

            .text {
                line-height: normal;
            }
        }
    }

    &__button {
        max-width: 340px;
        margin-left: 150px;
        margin-top: 45px;

        img {
            width: 100%;
        }
    }

    &__play {
        max-width: 260px;
        position: absolute;
        right: 295px;
        top: 420px;
        cursor: pointer;

        @media(max-width:767px) {
            right: auto;
            left: 50%;
            top: auto;
            bottom: 200px;
            cursor: pointer;
            @include transform(translateX(-50%));
        }

    }
}

.block3 {
    background-image: url("../assets/images/block3_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    // height: 825px;

    &__wrapper {
        @include flexbox;
        padding: 0 80px;

        @media(max-width:767px) {
            @include flex-direction(column);
            padding-bottom: 50px;
        }
    }

    &__slider {
        max-width: 990px;
        @include flexbox;
        @include align-items(center);
        margin-right: 80px;

        @media(max-width:767px) {
            margin-bottom: 30px;
            max-width: 100%;
        }

        .img {
            margin: 0 30px;

            &:nth-child(2) {
                transform: translateY(-60px);
            }
        }
    }

    &__text {
        width: 34.375vw;
        @include flexbox;
        @include justify-content(center);
        @include align-items(flex-start);
        @include flex-direction(column);

        @media(max-width:767px) {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 80%;

        @media(max-width:767px) {
            width: 100%;
        }
    }

    &__list-text {
        color: #fff;
        font-size: 21px;
        line-height: 30px;
        line-height: normal;
        font-family: $ICIELDOMAINEDISPLAYMEDIUM;

        &.active {
            color: #f1c29f;
        }

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }
}

.block4 {
    @include flexbox;
    background-color: #fbd7a9;
    border-top: 10px solid #0a222f;

    @media(max-width:767px) {
        @include flex-direction(column);
        padding-top: 50px;
    }

    &__map {
        width: 53.333%;

        @media(max-width:767px) {
            width: 100%;
            order: 2;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        max-width: 760px;
        margin-left: 0;
        margin-top: 185px;
        margin-bottom: 90px;

        @media(max-width:767px) {
            margin: 0 auto;
            max-width: 80%;
            margin-top: 20px;
        }
    }

    &__title {}

    &__des {
        max-width: 515px;
        margin-left: 150px;
        margin-top: 30px;
        font-size: 21px;
        line-height: 25px;
        color: #09546d;
        font-family: $ICIELDOMAINEDISPLAYMEDIUM;
        text-align: justify;

        @media(max-width:767px) {
            margin: 0 auto;
            max-width: 80%;
            margin-top: 20px;

        }

    }
}

.block5 {
    background-image: url("../assets/images/block5_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 60px;

    &__heading {
        max-width: 525px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__des {
        font-family: $ICIELDOMAINEDISPLAYMEDIUM;
        color: #09546d;
        font-size: 21px;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .slick-next {
        right: 90px;
    }

    .slick-prev {
        left: 90px;
    }

    .slick-slide {
        opacity: 0.5;
        padding: 0 12px;
    }

    .slick-center {
        opacity: 1;
    }

    .slick-arrow {
        width: 55px;
    }
}

.block6 {
    $left: 24.7395%;
    $right: 61.4583%;
    height: 1030px;

    &__bg {
        position: absolute;
    }

    &__content {
        position: relative;
        z-index: 1;
        @include flexbox;
        @include flex-wrap(wrap);
    }

    &__wrapper {
        padding-left: 115px;
        padding: 100px;
        padding-top: 160px;
    }

    &__left {
        // width: $left;
        flex: 1;
        margin-right: 60px;
        color: #fff;
    }

    &__right {
        width: 61.458vw;
        position: relative;

        @media(max-width: 767px) {
            width: 100%;
        }
    }

    &__slider {
        padding-bottom: 115px;
        position: relative;

        img {
            width: 100%;
        }
    }

    &__des {
        font-size: 21px;
        line-height: 25px;
        text-align: justify;
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__list {
        font-size: 23px;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 7px;
    }

    &__list-ulti {
        padding: 5px 10px;
        border-radius: 50px;
        padding-left: 40px;
        position: relative;
        margin-bottom: 1px;

        &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #09546d;
            left: 15px;
            top: 15px;
        }

        &:hover,
        &.active {
            background: linear-gradient(180deg, rgba(18, 63, 85, 1) 0%, rgba(29, 89, 105, 0.927608543417367) 100%);
            cursor: pointer;

            &::before {
                background-color: #fff;
            }
        }
    }

    .slick-arrow {
        width: 40px;
        height: auto;
        top: auto;
        transform: none;
        bottom: 0;
    }

    $vitriArrow: calc(50% - 90px);

    .slick-next {
        right: $vitriArrow;
    }

    .slick-prev {
        left: $vitriArrow;
    }
}

.block7 {
    padding-bottom: 115px;

    &__bg {
        position: absolute;
    }

    &__wrapper {
        @include flexbox;
        position: relative;
        z-index: 1;
    }

    &__left {
        @include flex_center;
        @include flex-direction(column);

        width: 33.0729%;

        &-text {
            max-width: 460px;

            img {
                width: 100%;
            }
        }

        &-text-1 {
            margin-bottom: 80px;
        }

        &-text-2 {}
    }

    &__right {
        width: 65.625%;
        margin-left: auto;
    }

    &__title {
        max-width: 975px;
    }

    &__title-top {
        max-width: 620px;
    }

    &__title-sub {
        margin-bottom: 15px;
    }

    &__des {
        color: #063d55;
        font-family: $ICIELDOMAINEDISPLAYMEDIUM;
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 25px;
    }

    &__img {
        margin-left: 20px;
    }
}

.block8 {
    background-color: #f5f4f4;
    padding-bottom: 60px;

    &__title {
        max-width: 480px;
        margin: 0 auto;
        margin-bottom: 20px;

        @include transform(translateY(-40px));
    }

    &__wrapper {
        @include flexbox;
        @include flex-wrap(wrap);
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        width: calc(33.3% - 60px);
        margin: 0 30px;
        text-align: center;
        margin-bottom: 20px;

        .img {
            max-width: 190px;
            margin-left: auto;
            margin-right: auto;

            img {
                width: 100%;
            }
        }

        .text {
            color: #09546d;
            font-size: 20px;
            line-height: 27px;
            font-family: $ICIELDOMAINEDISPLAYMEDIUM;

        }
    }
}

.block9 {
    padding: 50px 100px 110px 100px;
    background-image: url("../assets/images/block9_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    color: #fff;

    &__title {
        max-width: 275px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    &__slider {}

    &__item {
        .img {
            margin-bottom: 40px;
            max-height: 300px;
            overflow: hidden;

            img {
                @include transition(all 0.3s ease);
            }

            &:hover {
                img {
                    @include transform(scale(1.05));
                }
            }
        }

        .text {
            font-size: 29px;
            line-height: 37px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    /* the slides */
    .slick-slide {
        margin: 0 25px;
    }

    /* the parent */
    .slick-list {
        margin: 0 -25px;
    }
}

.block10 {
    position: relative;
    height: 730px;
    background-image: url("../assets/images/block10_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;

    @media(max-width: 767px) {
        @include flexbox;
        @include flex-direction(column);
    }

    &__wrapper {
        margin-left: 280px;
    }

    &__logo {
        @include flexbox;
        margin-bottom: 25px;
    }

    &__info {
        max-width: 845px;
        position: absolute;
        top: 95px;
        right: 100px;

        @media(max-width: 767px) {
            position: static;
            top: 0;
            right: 0;
        }
    }

    &__media {
        margin: 0;
        padding: 0;

        .media {
            @include flexbox;
            @include align-items(center);
            margin-bottom: 15px;
        }

        .img {
            max-width: 35px;
            margin-right: 12px;
        }

        .value {
            color: #fff;
            font-size: 24px;
            font-family: $ICIELDOMAINEDISPLAYBOLD;
        }
    }

    .logo_khangdien,
    .logo_white {
        max-width: 430px;
    }

    .logo_white {
        margin-left: 80px;
    }

    .form {
        background-color: #00465f99;
        padding: 90px 45px 40px 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        bottom: 0;
        left: 280px;
        width: 645px;

        @media(max-width: 767px) {
            position: static;
            left: 0;
            width: 80%;
            order: 2;
        }
    }

    .form__title {
        width: 90%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .form__content {
        margin-bottom: 25px;
    }

    .form__submit {}
}